@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --fonte-destaque: "Playfair Display", serif;
    --cor-texto: #000000;
    --cor-clara: #FFFFFF;
    --cor-background: #010103;
    --border: 0.1rem solid rgba(255,255,255,0.3);
    --cor-destaques-amarelo: #FF8C00;
    --cor-destaque-vermelho: #d61111;
        font-size: 10px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    font-family:  "Rubik", sans-serif;
}


.header img{
    width: 130px;
    height: 130px;
}