@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --fonte-destaque: "Playfair Display", serif;
    --cor-texto: #000000;
    --cor-clara: #FFFFFF;
    --cor-background: #010103;
    --border: 0.1rem solid rgba(255,255,255,0.3);
    --cor-destaques-amarelo: #FF8C00;
    --cor-destaque-vermelho: #d61111;
        font-size: 10px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    font-family:  "Rubik", sans-serif;
    scroll-behavior: smooth;
}



body{
    background-color: var(--cor-background);
}

section{
    padding: 3rem 2rem;
    margin: 0 auto; /*como auto vira atalho, centralizando o que tá dentro*/
    max-width: 1200px;
}

.header{
    position: fixed; /*fixo na tela. Os atributos seguintes também garantem fixação no topo*/
    top: 0;
    left: 0;
    right: 0;
    z-index: 99; /*headerr sempre na frente de tudo*/
    background-color: #01010394;
    
    
}

.header section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.0rem;
    padding-bottom: 1.0rem;
}

.header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1rem; /* Espessura da borda */
    background: radial-gradient(circle, rgba(255,140,0,0) 0%, rgba(255,140,0,0.3491771708683473) 54%, rgba(224,8,8,0.7133228291316527) 100%); /* Gradiente da borda */
}

.navbar a{
    margin: 0 1rem;
    font-size: 1.8rem;
    color: var(--cor-clara);
    font-family: var(--fonte-destaque);
    letter-spacing: 0.2rem;
    display: inline-block;
    position: relative;

}

.navbar a:hover{
    color: var(--cor-destaques-amarelo);
    border-bottom: 0.2rem solid var(--cor-destaques-amarelo);
    padding-bottom: 0.5rem;
    font-weight: 700;
    
}


.header img{
    width: 100px;
    height: 100px;
}

.icons img{
    width: 30px;
    height: 30px;
    margin: 1rem;
    cursor: pointer;
}

.icons img:hover{
    width: 35px;
    height: 35px;
}

.icons span{
    position: relative;
    display: inline-block;
}

.cart-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0.3rem 0.6rem;
    font-size: 1rem;
    font-weight: bold;
  }

.home-container{
    background: radial-gradient(circle, rgba(29, 28, 28, 0.438) 0%, rgba(0,0,0,1) 100%),
    url("assets/background-img.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.home-container section{
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.content{
    max-width: 60rem;

}

.content h3{
    color: var(--cor-clara);
    font-size: 6rem;
    font-family: var(--fonte-destaque);
}

.content p{
    color: var(--cor-clara);
    font-size: 2rem;
    font-weight: 200;
    line-height: 1.8;
    padding: 1rem 0;
}

.btn{
    background-color: var(--cor-destaques-amarelo);
    color: var(--cor-clara);
    font-size: 1.7rem;
    padding: 1rem 3rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
    border-radius: 5px;
}

.btn:hover{
    color: var(--cor-destaques-amarelo);
    background-color: var(--cor-clara);
}

.title{
    color: var(--cor-clara);
    font-family: var(--fonte-destaque);
    font-size: 4rem;
    text-align: center;
    
    
}

.title span{
    color: var(--cor-destaques-amarelo);
}

.sobre .row{
   display: flex;
   align-items: center;
   background-color: #ff8c005d;
   gap: 3rem;
   height: 550px;
   margin-top: 3rem;
   border-radius: 5px;
   
}

.sobre .row .content{
    width: 550px;
}

.sobre .row .content h3{
    font-size: 5rem;
}

.sobre .row .content p{
    font-size: 1.5rem;
    line-height: 3rem;
    font-weight: 200;
    width: 500px;
    margin-top: 1.5rem;
}

.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    margin-top: 3rem;
}

.menu .box-container .box{
    text-align: center;
    border: var(--border);
    padding: 5rem;
    cursor: pointer;
}

.menu .box-container .box:hover{
    background-color: #ffffff2a;

}

.menu .box-container .box img{
    height: 10rem;
}

.menu .box-container .box h3{
    font-size: 1.8rem;
    color: var(--cor-clara);
    font-family: var(--fonte-destaque);
    margin-top: 0.5rem;
}

.menu .box-container .box .price{
    color: var(--cor-clara);
    font-size: 2.2rem;
    padding: 1rem 0.5rem;
}

.menu .box-container .box span{
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: 200;
}

.avaliacao .box-container .box{
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
}

.avaliacao .box-container .box .quote{
    width: 30px;
    padding-bottom: 1rem;
}

.avaliacao .box-container .box p{
    color: var(--cor-clara);
    font-size: 1.2rem;
    padding-bottom: 1rem;
    font-weight: lighter;
    line-height: 1.5rem;
}

.avaliacao .box-container .box .img-cliente{
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    padding-bottom: 1rem;
}

.avaliacao .box-container .box h3{
    color: var(--cor-clara);
    font-size: 1.8rem;
    padding-bottom: 1rem;
}


.endereco{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.endereco iframe{
    margin-top: 3rem;
    border-radius: 5px;
}

.contato .form{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    
}

.contato .form input{
    margin: 0.8rem 0;
    padding: 1rem;
    border-radius: 5px;
    font-size: 2rem;
}

.contato .form textarea{
    margin: 0.8rem 0;
    padding: 1rem;
    border-radius: 5px;
    font-size: 2rem;
}

.footer{
    text-align: center;
}

.footer .share{
    padding: 1rem 0;
    
}

.footer .share img{
    cursor: pointer;
    margin: 0.3rem;
    padding: 0.5rem;
}




